<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		{% block js %}
			<script src="/static/js/lib/jquery-1.7.min.js"></script>
			<script src="/static/js/lib/jquery.event-bubble.js"></script>
			<script src="/static/js/lib/jquery.event-counter.js"></script>
			<script src="/static/js/core/jquery.classe.js"></script>
			{% block extra-js %}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		{% block body %}
			{% block content %}
			{% endblock %}
		{% endblock %}
	</body>
</html>